<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/5G-logo-5.jpg" width="100%" class="user-avatar" style="display: block;
            margin-left: auto;
            margin-right: auto;" />
            <h1>Welcome To Tunisia 5G Forum</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="formregister.username" class="form-control input-underline input-lg" id="" placeholder="Username" name="username">
                    </div>

                    <div class="form-group">
                        <input type="text"[(ngModel)]="formregister.email" class="form-control input-underline input-lg" id="" placeholder="Email" name="email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="formregister.password"class="form-control input-underline input-lg" id="" placeholder="Password" name="password">
                    </div>
                    <div class="form-group">
                        <input type="password" [(ngModel)]="formregister.confirmepassword" class="form-control input-underline input-lg" id="" placeholder="Repeat Password" name="confirmepassword">
                    </div>
                </div>
                <a class="btn rounded-btn" (click)="signup('/login')" [class.disabled]="!checkSignupDisable()? true : null"> Register </a>&nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']"> Log in </a>
            </form>
        </div>
    </div>
</div>
