<hr style="background-color:#6d7fcc; height: 10px; size: 40px; margin-bottom: 0%" >
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
  
       <h3>
          
          Case Studies
       </h3>
    </div>

    <ul class="list-unstyled components">
    
      <li >
        <a routerLink="/healthcare" style = "background-color: rgb(24, 25, 92);" >Healthcare</a>
      </li>
     
      <li>
        <a routerLink="/agriculture">Agriculture</a>
      </li>

      <li>
        <a routerLink="/education">Education</a>
      </li>
      <li>
        <a routerLink="/entertainment">Entertainment</a>
      </li>
      <li>
        <a routerLink="/manufacturing">Manufacturing</a>
      </li> 
      <li>
        <a routerLink="/automative">Automative</a>
      </li>

      
      
      
    </ul>

    <ul class="list-unstyled CTAs">

      <li><a [routerLink]="['/Home']" class="Back">Back To Home</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
     
      
   


      <h2 class="heading-primary delimiter-both" style="color:#1e73be;font-size: 32px;font-weight: 700;">Healthcare</h2>
      <div>
        </div>&nbsp;
        <div>     
        </div>&nbsp;
        
          <ul>
            <li *ngFor="let item of items">
              <div>
                <h1 style="color:#122f49;font-size: 25px;font-weight: 700; text-transform: uppercase;">{{item._source.title}}</h1>
                <h1 style="color:#6b2525;font-size: 20px;font-weight: 700; margin-left:15px ; text-transform: uppercase;"> - {{item._source.source}} -</h1>
              </div>
                <div style="width: 100%; height: 200px;">     
                
                <p>
              
                    <img style="float: left; max-width: 250px; max-height: 250px; margin-right: 10px; " src="{{item._source.image}}">

                    {{item._source.data}}
                    <a href="{{item._source.link}}" style="color:rgb(49, 78, 133); margin-left:15px">Read More</a>

                </p>
               
              </div>
              
              <div>     
                </div>&nbsp;
                <div>     
                  </div>&nbsp;
                  <div>     
                    </div>&nbsp;
                
            </li>
            <div>     
              </div>&nbsp;
              <div>     
                </div>&nbsp;
                <div>     
                  </div>&nbsp;
          </ul>
    </div>
</div>
