<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <div class="sidebar-header">
        <div>     
        </div>&nbsp;
        <div>     
        </div>&nbsp;
        <div>     
        </div>&nbsp;
         <h3>
            
            5G
         </h3>
      </div>
  
      <ul class="list-unstyled components">
        
        <li>
          <a routerLink="/5gpresentation" >5G Presentation</a>
        </li>
        <li>
          <a routerLink="/5gnews" >5G News</a>
        </li>
        <li>
          <a routerLink="/5gwhitepapers" style = "background-color: rgb(24, 25, 92);">White Papers</a>
        </li>
        <li>
          <a routerLink="/5gservices">5G Services</a>
        </li>
        <li>
          <a routerLink="/5gvideos">Videos</a>
        </li>
      </ul>
  
      <ul class="list-unstyled CTAs">
  
        <li><a [routerLink]="['/Home']" class="Back">Back To Home</a></li>
      </ul>
    </nav>
  
    <!-- Page Content Holder -->
    <div id="content">
        <div>     
        </div>&nbsp;
        <div>     
        </div>&nbsp;
        <div>     
        </div>&nbsp;
     
  
  
      <h2 class="heading-primary delimiter-both" style="color:#1e73be;font-size: 32px;font-weight: 700;">White Papers</h2>
  
      
    </div>
  </div>
