<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/5G-logo-5.jpg" width="100%" class="user-avatar" style="display: block;
            margin-left: auto;
            margin-right: auto;" />
            <h1>Welcome To Tunisia 5G Forum</h1>
            <form role="form">
                <div class="form-content">
                    <div class="form-group">
                        <input type="text" [(ngModel)]="data.email" class="form-control input-underline input-lg" id="" placeholder="Email" name="Email">
                    </div>

                    <div class="form-group">
                        <input type="password" [(ngModel)]="data.password"  class="form-control input-underline input-lg" id="" placeholder="Password" name="Password">
                    </div>
                </div>
                <a class="btn rounded-btn"  (click)="signin('/Home')" [class.disabled]="!checkLoginDisable()? true : null" > Log in </a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']" (click)="onLoggedin()" >Register</a>
            </form>
        </div>
    </div>
</div>
