<hr style="background-color:#6d7fcc; height: 10px; size: 40px; margin-bottom: 0%" >
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      
       <h3>
          
          Governance & Organization
       </h3>
    </div>

    <ul class="list-unstyled components">
    
      <li >
        <a routerLink="/tunisianecosystem" >Tunisia Ecosystem</a>
      </li>
     
      <li>
        <a  routerLink="/globalcooperation" >Global Cooperation</a>
      </li>
      <li>
        <a routerLink="/governancemodel" style = "background-color: rgb(24, 25, 92);">Governance Model</a>
      </li>
      
      
    </ul>

    <ul class="list-unstyled CTAs">

      <li><a [routerLink]="['/Home']" class="Back">Back To Home</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
      
   
      <h2 class="heading-primary delimiter-both" style="color:#1e73be;font-size: 32px;font-weight: 700;">How do we work ?</h2>

      <div>     
      </div>&nbsp;
      <div>     
      </div>&nbsp;
      <div>     
      </div>&nbsp;
   
      <div class="col-lg-12">
        <div class="card card-default">
            
            <!-- /.card-header -->
            <div class="card-body">
              <ul class="timeline">
                  <li>
                      <div class="timeline-badge"><i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title" style="color:#1e73be;">Coordination</h4>
                              
                          </div>
                          <div class="timeline-body">
                              <p>The 5G forum prioritizes strengthening coordination and cooperation among Members, as well as with outside stakeholders who share the forum’s objectives, with added focus on fostering cooperation through different networks.</p>&nbsp;
                              <p>In between the annual conferences, Members of the 5G forum regularly gather informally as players in the ecosystem and in consultation with other stakeholders at meetings relevant to adopting future technologies directly or indirectly related to 5G, to coordinate viewpoints, share relevant information, and discuss strategies to advance the state of the art.</p>&nbsp;
                              <p>The 5G forum attempts to coordinate work in these national fora by convening coordination meetings prior to important sessions and by sharing relevant information with those members unable to attend the meeting itself.</p>&nbsp;
                              <p>Below activities of the forum:</p>&nbsp;
                              <p>- Strategy and coordination meetings</p>
                              <p>- Workshops and forums</p>


                            
                            
                            </div>
                      </div>
                  </li>
                  <li class="timeline-inverted">
                      <div class="timeline-badge warning"><i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title" style="color:#1e73be;">Joint publications and statements</h4>
                          </div>
                          <div class="timeline-body">
                              <p>
                                A key priority of the 5G forum is the shaping of policies, and contributing to norms through joint action of Tunisian players. The 5G forum offers its members an informal space to share information and interests about current developments that are relevant to taking advantage from innovative technologies and services around 5G.</p>&nbsp;
                              <p>Results will be published in white papers or statements.</p>
                          </div>
                      </div>
                  </li>
                  <li>
                      <div class="timeline-badge danger"><i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title" style="color:#1e73be;">Annual Conference</h4>
                          </div>
                          <div class="timeline-body">
                              <p>
                                Once a year, the 5G forum holds a multi-stakeholder conference that aims to deepen the discussion on how future technologies and the 5G in particular is helping to promote social, cultural and economic development</p>&nbsp;
                                <p>The conference offers an open platform for discussion among all stakeholders – public entities, civil society, the private sector, and others – to share relevant information, develop joint strategies and combine efforts towards their mutual goal to position Tunisia in the core of innovation along with the adoption of technologies around 5G.</p>
                          </div>
                      </div>
                  </li>
                  
                  <li class="timeline-inverted">
                      <div class="timeline-badge success"><i class="fa fa-check"></i>
                      </div>
                      <div class="timeline-panel">
                          <div class="timeline-heading">
                              <h4 class="timeline-title" style="color:#1e73be;">Advisory Network </h4>
                          </div>
                          <div class="timeline-body">
                              <p>
                                The 5G forum has identified the need to create a strong mechanism for ongoing multi-stakeholder engagement to adopt and contribute in 5G developments. To assist the 5G forum, in setting up the draft terms of reference, we have created an ad hoc Advisory Network Group comprised of major players and well known personalities in the ICT sector. The  5G Advisory Network (5G-AN) is being established to play the key role through regular engagement with all the players in the ecosystem.</p>
                          </div>
                      </div>
                  </li>
                  <li>
                    <div class="timeline-badge"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" style="color:#1e73be;">Working groups </h4>
                            
                        </div>
                        <div class="timeline-body">
                            <p>
                              The Working Groups provide a mechanism for focused and issue-based engagement, facilitiating substantive contibributions by the 5G forum on key 5G issues.  These working groups are able to run continuously throughout the year and in-between physical meetings.</p>&nbsp;
                              <p>
                                5G Working Groups also provide an avenue for multi-stakeholder engagement with public entities and regulator, as well as standardization bodies. By providing the possibility of regular communication with different stakeholders, this engagement encourages concrete and substantive cooperation, enabling tangible outcomes.</p>&nbsp;
  

                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-badge warning"><i class="fa fa-check"></i>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title" style="color:#1e73be;">Joint publications and statements</h4>
                        </div>
                        <div class="timeline-body">
                            <p>
                              A key priority of the 5G forum is the shaping of policies, and contributing to norms through joint action of Tunisian players. The 5G forum offers its members an informal space to share information and interests about current developments that are relevant to taking advantage from innovative technologies and services around 5G.</p>&nbsp;
                            <p>Results will be published in white papers or statements.</p>
                        </div>
                    </div>
                </li>
              </ul>
          </div>
          
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    
      </div>




  
</div>



