<app-header></app-header>    
<router-outlet ></router-outlet>

<footer class="footer-distributed">

        <div class="footer-left">

            <img class="user-avatar" src="assets/images/5G-logo-5.jpg" width="150px" />

            <p class="footer-links">
                <a [routerLink]="['/Home']">Home</a>&nbsp;
                .
                <a [routerLink]="['/AboutUs']">About Us</a>&nbsp;
                ·
                <a [routerLink]="['/GOVandORG']">GOVERNANCE & ORGANIZATION</a>&nbsp;
                ·
                <a [routerLink]="['/5G']">5G</a>&nbsp;
                ·
                <a [routerLink]="['/CaseStudies']">Case Studies</a>
                ·
               
            </p>

            <p class="footer-company-name">Tunisia 5G Forum &copy; 2018</p>
        </div>

        <div class="footer-center">

            <div>
                <i class="fa fa-map-marker"></i>
                <p><span>Paris avenue 53 Bloc A1</span> Tunis 1001, Tunisia</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>+216 36 338 078</p>
            </div>

            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:contact@5gforum.tn">contact@5gforum.tn</a></p>
            </div>

        </div>

        <div class="footer-right">

            <p class="footer-company-about">
                <span>About Tunisia 5G Forum</span>
                Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
            </p>

            <div class="footer-icons">

                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-github"></i></a>

            </div>

        </div>

    </footer>

    