<hr style="background-color:#6d7fcc; height: 10px; size: 40px; margin-bottom: 0%" >
<div class="wrapper">
  <!-- Sidebar Holder -->
  <nav id="sidebar">
    <div class="sidebar-header">
      
       <h3>
          
          Events
       </h3>
    </div>

    <ul class="list-unstyled components">
    
      <li >
        <a routerLink="/pastevents" style = "background-color: rgb(24, 25, 92);">Past Events</a>
      </li>
     
      <li>
        <a routerLink="/upcomingevents"  >Upcoming Events</a>
      </li>
      
      
      
    </ul>

    <ul class="list-unstyled CTAs">

      <li><a [routerLink]="['/Home']" class="Back">Back To Home</a></li>
    </ul>
  </nav>

  <!-- Page Content Holder -->
  <div id="content">
     
   


      <h2 class="heading-primary delimiter-both" style="color:#1e73be;font-size: 32px;font-weight: 700;">Past Events</h2>
      <div>
        </div>&nbsp;
        <div>     
        </div>&nbsp;
        
          <ul>
            <li *ngFor="let item of items">
              <div>
                <h1 style="color:#122f49;font-size: 25px;font-weight: 700;">{{item._source.title}}  </h1>
                <h1 style="color:#3e4449;font-size: 15px;font-weight: 700;">{{item._source.source}}</h1>
                <h1 style="color:#216eb1;font-size: 15px;font-weight: 700;">({{item._source.date}} In {{item._source.place}})</h1>
                
            
    
                <p>
                    {{item._source.data}}
                </p>
                <div>     
                </div>&nbsp;
                <a href="{{item._source.link}}" style="color:cornflowerblue">Read More</a>
              </div> 
                <div>     
                  </div>&nbsp;
            </li>
           
          </ul>
   
    </div>
</div>
