<nav class="navbar navbar-expand-lg fixed-top">
    <img class="user-avatar" src="assets/images/5G-logo-5.jpg" width="100px" />
    <button class="navbar-toggler" type="button" (click)="toggleSidebar()">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <i class="fa fa-bars text-muted" aria-hidden="true"></i>
    </button>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            
            <li class="nav-item">
                <a href="javascript:void(0)" class="nav-link mt-1"
                    style="padding: 0.375rem 1rem !important; border-color: #999;"
                    [routerLink]="['/Home']"
                >
                <h1 style="font-size: 110%; font-weight: bold;" > HOME </h1>  
                </a>
                
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link mt-1" ngbDropdownToggle
                    style="font-size: 110%; font-weight: bold; padding: 0.375rem 1rem !important; border-color: #999;"
                    
                >
                ABOUT US 
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/motivation']">
                             {{ 'Motivation'  }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/vision']">
                             {{ 'Vision' }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/objective']">
                             {{ 'Objective'}}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/contactus']">
                             {{ 'Contact Us'}}
                         </a>
                </div>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link mt-1" ngbDropdownToggle
                    style="font-size: 110%; font-weight: bold; padding: 0.375rem 1rem !important; border-color: #999;"
                    
                >
                5G
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/5gpresentation']">
                             {{ '5G Presentation'  }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/5gnews']">
                             {{ '5G News' }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/5gwhitepapers']">
                             {{ 'White Papers'}}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/5gservices']">
                             {{ '5G Services'}}
                         </a>
                         <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/5gvideos']">
                                {{ 'Videos'}}
                            </a>
                </div>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link mt-1" ngbDropdownToggle
                    style="font-size: 110%; font-weight: bold; padding: 0.375rem 1rem !important; border-color: #999;"
                    
                >
                 GOVERNANCE & ORGANIZATION
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/tunisianecosystem']">
                             {{ 'Tunisian Ecosystem'  }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/globalcooperation']">
                             {{ 'Global Cooperation' }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/governancemodel']" >
                             {{ 'Governance Model'}}
                        </a>
                  
                </div>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link mt-1" ngbDropdownToggle
                    style="font-size: 110%; font-weight: bold; padding: 0.375rem 1rem !important; border-color: #999;"
                    
                >
                EVENTS
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/pastevents']">
                             {{ 'Past Events'  }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/upcomingevents']">
                             {{ 'Upcoming Events' }}
                        </a>
                      
                </div>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link mt-1 " ngbDropdownToggle
                    style="font-size: 110%; font-weight: bold; padding: 0.375rem 1rem !important; border-color: #999;"
                    
                >
                CASE STUDIES
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/healthcare']">
                             {{ 'Healthcare'  }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/agriculture']">
                             {{ 'Agriculture' }}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/education']">
                             {{ 'Education'}}
                        </a>
                        <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/entertainment']">
                            {{ 'Entertainment'}}
                       </a>
                       <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/manufacturing']">
                        {{ 'Manufacturing'}}
                   </a>
                   <a class="dropdown-item" href="javascript:void(0)" [routerLink]="['/automative']">
                    {{ 'Automative'}}
               </a>
                        
                </div>
            </li> &nbsp;
            <li class="nav-item dropdown" ngbDropdown>
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{username}} <b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a>
                </div>
            </li>
        </ul>
    </div>
</nav>
