
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;

	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #b6b7b8;
	border-radius: 2px;

	font-size: 20px;
	color: #333232;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
.img-fluid{
	height: 600px;
	width: 100%;
	background-size: cover;

}
.carousel-inner > .item {
	height: 400px;
 }
.carousel-item {
	position: relative;
  height: 500px;
	background-size: cover;
    display: block !important;
    z-index: 1;
    position: absolute;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    opacity: 0;
    visibility: hidden;
}
.carousel-item.active {
	background-size: cover;
	min-width: 1000px;
	min-height: 300px;
    position: relative;
    transition: opacity 1.5s easy-in-out, visibility 1s;
    visibility: visible;
    opacity: 1;
}
/deep/.carousel-caption{

	transition: opacity 1.5s easy-in-out, visibility 1s;
	size: 4em;

}

.list-group{
	max-height: 600px;
	width: 100%;
    margin-bottom: 30px;
    overflow:scroll;
   .list-group-item{
	background-color: #e7d3d4;
	border-color :  #abb9d3;
	border-style: groove;
	border-width: 7px;
	max-height: 100px;

   }

   li.clearfix:before,
   .clearfix:after {
	 display: table;
	 line-height: 0;
	 content: "";
	 display:block;
	 height:0;
   }
   
 
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.hero-image{
	background-image: url("assets/img/slider/saiadi.png");
	background-size: cover ;
	border-color :  #6f83a8;
	border-style: groove;
	
	margin-top:  50px;
	margin-bottom: 50px;

  
}



.widget_blog_subscription {
	display: block;
	
	width: 100%;
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	background-color:  rgb(231, 226, 226)
}
.widget_blog_subscription p {
	margin: 0;
	text-align: center;
}
.widget_blog_subscription p:first-child {
	margin: 40px 15px 0;
	color: #204458;
	
	text-align: center;
	font-size: 30px;
	font-family: 'PT Sans Narrow', sans-serif;
	letter-spacing: 1px;
}
.widget_blog_subscription input[type="text"] {
	margin: 20px 20px;
	color: #999;
	padding: 12px 12px !important;
	text-align: center;
	width: 60% !important;
	
	outline: none;
	border: 0;
	
	font-size: 20px;
}
.widget_blog_subscription input[type="text"]::-webkit-input-placeholder {
	color: rgb(199, 193, 193)
}
.widget_blog_subscription input[type="text"]:-moz-placeholder {
	color: #6d7fcc;
}
.widget_blog_subscription input[type="text"]::-moz-placeholder {
	color: #6d7fcc
}
.widget_blog_subscription input[type="text"]:-ms-input-placeholder {
	color: #6d7fcc;
}
.widget_blog_subscription input[type="submit"] {
	margin-bottom: 10px;
	background-color: rgb(143, 134, 134);
	color: #fff;
	padding: 25px 15px !important;
	text-align: center;
	width: 20%;
	border-radius: 15px;
	outline: none;
	border: 0;
	
	font-size: 12px;
	cursor: pointer;
	-webkit-transition: .1s all ease-in-out;
	-moz-transition: .1s all ease-in-out;
	-o-transition: .1s all ease-in-out;
	transition: .1s all ease-in-out;
}
.widget_blog_subscription input[type="submit"]:hover {
	background-color: #204458;
}
